@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?e06400');
    src:  url('../fonts/icomoon.eot?e06400#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?e06400') format('truetype'),
    url('../fonts/icomoon.woff?e06400') format('woff'),
    url('../fonts/icomoon.svg?e06400#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon"], [class*=" icon"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#facebook:before {
    content: "\ea91";
}
#instagram:before {
    content: "\ea92";
}
#snapchat:before {
    content: "\e900";
}
#twitter:before {
    content: "\ea96";
}

#facebook_footer:before {
    content: "\ea91";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    margin: auto;
    font-size: 25px;
}
#instagram_footer:before {
    content: "\ea92";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    margin: auto;
    font-size: 25px;
}
#snapchat_footer:before {
    content: "\e900";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    margin: auto;
    font-size: 25px;
}
#twitter_footer:before {
    content: "\ea96";
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    margin: auto;
    font-size: 25px;
}

