@font-face {
    font-family: altair;
    src: url('../fonts/altair_bold.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Bold.ttf');
    src: url('../fonts/OpenSans-Regular.ttf');
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, a, p {
    font-weight: normal;
}

figure {
    margin: 0px;
    width: 50px;
    margin: 0 auto;
}

.fp-tableCell {
    position: relative;
}

#section0, #section1, #section2, #section3 {
    min-height: 100vh;
}

#section1,
#section1 .fp-slide,
#section1 .fp-tableCell {
    height: auto !important;
}

/*     Base   */

a {
    text-decoration: none;
    color: inherit;
}

.rotate_droite {
    transform: rotate(270deg);
}

.rotate_gauche {
    transform: rotate(-270deg);
}

#burger_change, #close_change {
    transition: all 0.4s linear;
}

/*    header    */

#header_container {
    position: fixed;
    display: block;
    z-index: 9;
    right: 0;
    left: 0;
    top: 0px;

    height: 150px;
}

/*   nav   */

.menu {
    background-color: #f5f5f5;
    box-shadow: -10px -1px 27px 2px black;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 250px;
    transition: all 0.3s ease-in;
}
#popup{
    width: 100%;
    position: absolute;
    bottom: -150px;
    height: 150px;
    background-color: #4dc6d8;
    transition: all 0.4s ease;
}
#popup2{
    width: 100%;
    position: absolute;
    bottom: -180px;
    height: 150px;
    background-color: #fff;
    transition: all 0.4s ease;
}
.snap_code{
    width: 110px;
    margin: 0 auto;
    /* vertical-align: middle; */
    line-height: 16;
}
.close_menu {
    margin-top: 20px;
    margin-left: 25px;
    width: 35px;
}
.close_snapchat{
    margin-top: 10px;
    margin-left: 220px;
    position: fixed;
    width: 20px;
}
.close_menu img{
    /* width: 50px; */
}

.close {

    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
}

.open {

}

.menu a {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 16px;
    display: block;
    /* height: 40px; */
    text-align: center;
    line-height: 40px;
    color: #ff4a39;
}

#header_container .header_icon {

    width: 35px;
    margin: 15px;
}

#header_container .burger {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    left: 17px;
    transform: scale(1.8);
}

.burger_white {
    box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
}

.burger_red {
    box-shadow: 0 10px 0 1px #ff4a39, 0 16px 0 1px #ff4a39, 0 22px 0 1px #ff4a39;
}

.RS {
    list-style-type: none;
}

.RS {
    width: 220px;
    display: inline-table;
    /* padding: 0 30px; */
    position: fixed;
    left: 15px;
    bottom: 25px;
}

.RS a, .RS img {
    width: 30px;
}

.RS a {
    display: inline-block;
    margin: 0 5px;
    background-color: #ababab;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: #ffffff;
    position: relative;
    text-align: center;
}

.RS a:hover {
    background-color: #ff4a39;
}

.fixednav {
    list-style-type: none;
    padding: 0;
    position: fixed;
    left: 15px;
    top: calc(50% - 160px);
}

.fixednav li a {
    text-align: left;
}

.fixednav li {
    margin-bottom: 10px;
}

.RS li a:hover {
    color: red;

}

.activeMenu {
    border-bottom: 3px solid #ff4a39;
}

/*    Container    */

/*   Section0  */

#section0 {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

/*   logo   */

#section0 #header_container {
    width: 100%;
}

#section0 .logo_container {
    padding-top: 50px;
}

#section0 .logo {
    margin: 0 auto;
    width: 205px;





}

/*   main   */
.title_1 {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 34px;
    text-align: center;
    padding-top: 50px;
}

.title_1 img {
    width: 125px;
    vertical-align: middle;
    padding-right: 7px;
}

h1 span {
    display: block;
}
.dl_buton{
    box-shadow: 2px 3px 10px -5px #000;
    width: 200px;
    /* max-width: 150px; */
    margin: 0px auto;
    display: block;
    padding: 20px 35px;
    background: #4dc6d8;
    border: none;
    margin-top: 45px;
    color: #fff;
    font-size: 1em;
    border-radius: 30px;
    cursor: pointer;
}
.dl_second{
    display: none;
}
.title_2 {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 24px;
}

.title_3 {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 60px;

}

.scroll {
    width: 45px;
    margin: 0 auto;
    position: absolute;
    bottom: 15px;
    left: 0px;
    right: 0px;
    z-index: 15;
}

img {
    width: 100%;
}

h1, h2, h3 {
    color: white;
}

h2 {
    color: white;
}

/* Section 1   */

/*video*/
#section1 main {
    width: 100%;
    background-color: #f5f5f5;
    height: 100vh;
    position: relative;
}

#video_andy {
    width: 100%;
    height: 100%;
    display: none;

}

#section1 #cache_player {
    width: 100%;
    height: 100vh;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 5;
    bottom: 0px;
    background-color: rgba(77, 198, 216, 0.6);
    display: none;

}

.play {
    width: 50px;
    position: absolute;
    top: 0px;
    left: 0;
    height: 55px;
    right: 0;
    bottom: 0;
    cursor: pointer;
    margin: auto;
    z-index: 10;
    display: none;
}

#section1 .scroll {
    width: 45px;
    margin: 0 auto;
    bottom: 15px;
    left: 0px;
    right: 0px;
}

/*   Section2    */
#section2 {
    background-image: url("../img/bg_description.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

#section2 main {
    clear: both;

}


.left_sec2 {
    width: 48%;
    margin-right: 4%;
    float: left;
}

.right_sec2 {
    width: 48%;
    float: left;
    display: inline-table;
}

.clear {
    display: block;
    clear: both;
}

.h1_blue {
    color: #4dc6d8;
    font-size: 28px;
    font-family: 'Montserrat', Arial, sans-serif;
    text-align: left;
}

#section2 h1::before {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #4dc6d8;

}

#section2 .logo_container {
    padding-top: 15px;
    padding-bottom: 20px;
}

.logo_sec2 {
    width: 70px;
    margin: 0 auto;
}

.description_right {
    font-family: "Open+Sans", Arial, sans-serif;
    font-size: 20px;
    text-align: left;
    /* font-weight: normal; */
    width: 84%;
    /* padding-bottom: 75px; */
    float: left;
    /* display: inline-block; */
    margin: 20px 0;
}

.description_right p {
    color: #3a3b3f;
    margin: 0;
}

.icones_descr {
    width: 12%;
    /* margin: 35px 0; */
    max-width: 60px;
    /* vertical-align: top; */
    padding-top: 20px;
    /* display: inline-block; */
    float: left;
    margin-right: 2%;
}

#section2 span {
    font-weight: 900;
}

#section2 .scroll a img {
    transform: rotate(-90deg);
}

.fig_iphone {
    max-width: 540px;
    width: 100%;
}

.rotate360{
    transform: rotate(360deg);
    transition: all 0.6s ease-in;
}

/*    Section 3    */

#section3 {
    background-image: url('../img/bg_sec3.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

#section3 .footer_container {
    width: 90%;
    margin: 0 auto;
}

#section3 {
    position: relative;
}

#section3 .titre_container {
    padding-top: 40px;
}

#section3 h1::before {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #4dc6d8;

}


#section3 .form {
    width: 100%;
    padding-bottom: 20px;
}

#section3 .form p {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 18px;
    color: #cacaca;
    margin: 0;

}

.nom, .prenom {
    width: 47%;
    padding: 1%;
    background: #f5f5f5;
    float: left;
    margin: 0;
    border: none;
    background: #f5f5f5;
    margin-top: 15px;
}

.nom {
    margin-right: 2%;
}

.mail {
    width: 98%;
    padding: 1%;
    height: 20px;
    background: #f5f5f5;
    border: none;
    margin-top: 15px;
}

.message {
    width: 98%;
    padding: 1%;
    background: #f5f5f5;
    min-height: 125px;
    border: none;
    margin-top: 15px;
}

.send_buton {
    box-shadow: 2px 3px 10px -5px #000;
    width: 20%;
    max-width: 150px;
    margin: 0px auto;
    display: block;
    padding: 10px 5px;
    background: #4dc6d8;
    border: none;
    margin-top: 15px;
    color: #fff;
    font-size: 1em;
    border-radius: 30px;
    cursor: pointer;
}

.scroll_up img::before {
    float: right;
}

.scroll_up img {
    transform: rotate(90deg);
}

#last_arrow {
    width: 45px;
    margin: 0 auto;
    position: absolute;
    bottom: 150px;
    left: 0px;
    right: 0px;
}

#last_arrow img {
    transform: rotate(90deg);
}

.footer_sec3 {
    background-color: #4dc6d8;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
}

.RS_footer {
    list-style-type: none;
    width: 32%;
    display: inline-table;
    float: left;
    padding-top: 50px;
    margin: 0 2% 0 0;
    text-align: center;
}

.RS_footer img {
    width: 50px;
}

.RS_footer a {

    display: inline-block;
    margin: 0 5px;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: #4dc6d8;
    position: relative;
    text-align: center;
}

.RS_footer a:hover {
    background-color: #888888;
}

#facebook_footer, #twitter_footer, #instagram_footer, #snapchat_footer {

}

.nav_footer {
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0 2% 0 0;
    padding-top: 44px;
    width: 32%;
}

.nav_footer a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    color: white;
}

.mention_footer {
    width: 32%;
    float: left;
    color: white;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
    padding-top: 52px;
}

/* Responsive     */




@media (min-width: 800px){
    .dl_buton{
        margin-top: 105px;
    }

}

/* Nouvelle rÃ¨gle si l'Ã©cran fait moin de 979px */
@media (max-width: 979px) {

    #section0 .logo_container {
        padding-top: 5vh;
    }
    #section0 .logo{
        width: 180px;
    }
    .title_1{
        font-size: 30px;
    }
    .title_1 span{
        display: none;
    }
    .title_1 img{
        width: 105px;
    }
    .main_sec0{
        padding-top: 20px;
    }
    .footer_sec3 {
        height: 110px;
    }

    .nav_footer {
        padding-top: 28px;
    }

    .RS_footer {
        padding-top: 38px;
        position: relative;
    }

    .mention_footer {
        padding-top: 36px;
    }
    .fig_iphone{
        padding-top: 102px;
    }
    .description_right{
        font-size: 18px;
        margin: 26px 0px;
    }
    .icones_descr{
        /* margin: 26px 0; */
    }
}

/* Nouvelle rÃ¨gle si l'Ã©cran fait tout au plus 767px */
@media (max-width: 769px) {

    .title_1{
        font-size: 26px;
    }
    .title_2{
        font-size: 18px;
    }
    .title_1 img{
        width: 86px;
    }
    .title_3{
        font-size: 18px;
    }
    .main_sec0{
        padding-top: 40px;
    }


    #section0 .logo_container {
        padding-top: 5vh;
    }

    #section0 .logo {
        margin: 0 auto;
        width: 145px;

    }
    .description_right{

        /* margin: 22px 0px; */
    }
    .icones_descr{
        /* width: 35px; */
        /* margin: 22px 0px; */
    }
    .right_sec2{
        width: 100%;
    }
    .left_sec2{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .fig_iphone{
        display: none;
    }
    .dl_second{
        margin: 10px 0;
    }

    .fig_iphone{
        padding-top: 0;
    }

    .nom, .prenom {
        margin-right: 0;
        width: 98%;
    }

    #last_arrow {
        bottom: 130px;
    }

    .h1_blue {
        font-size: 20px;
        margin-bottom: 0;
    }

    .form {
        padding-top: 15px;
    }

    .footer_sec3 {
        height: 100px;
    }

    .nav_footer a {
        font-size: 11px;
    }

    .RS_footer {
        width: 39%;
        margin: 0 -5% 0 0;
    }

    .mention_footer {
        font-size: 11px;
    }

}

/* Nouvelle rÃ¨gle si l'Ã©cran fait tout au plus 580px */
@media (max-width: 580px) {
    #section0, #section1, #section2, #section3 {
        min-height: inherit;
    }
    #section3 .scroll{display: none}

    .contact{
        width: 80%;
        margin: auto;
    }
    #section0 .logo_container {
        padding-top: 8vh;
    }

    #section0.title_1 {
        font-size: 26px;
        padding-top: 10vh;
        padding-bottom: 0vh;
    }

    #section0 .title_2 {
        font-size: 18px;
    }

    #section0 .logo {
        margin: 0 auto;
        width: 105px;

    }
    .main_sec0{
        padding-top: 0px;
    }

    #section0 .title_1 img {
        width: 90px;
        vertical-align: middle;
        padding-right: 2px;
    }
    .description_right{
        /* margin: 10px 0; */
    }

    #section0 {
        background-image: url(../img/background.jpg);
        background-size: cover;
        background-position: 75% 50%;
    }

    .title_1{
        padding-top: 0px;
    }

    .footer_sec3 {
        height: 80px;
    }

    .nav_footer {
        display: none;
    }
    .RS {
        width: 220px;
        display: inline-table;
        position: absolute;
        left: 15px;
        bottom: 15px;
    }

    .RS_footer {
        padding-top: 24px;
        width: 66%;
        margin: 0 2% 0 0;
    }

    .RS_footer a {
        width: 35px;
        height: 35px;
        border-radius: 20px;
        margin: 0 6px;
    }

    .mention_footer {
        padding-top: 24px;
    }

    #last_arrow {
        /* bottom: 100px; */
        top: 10px;
        margin: 0;
        right: 30px;
        left: inherit;
        width: 40px;
    }

    .send_buton {
        width: 50%;
    }
    .logo_sec2{
        padding-bottom: 40px;
    }
    #section1 .scroll {
        display: none;
    }
    #section2 .scroll{
        display: none;
    }

}